body {
background-image: url(big-dump-of-4k-wallpapers-with-shaders-from-the-season-9-v0-am945p30m98c1.png);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}
